<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link href="{% static 'game/css/BG2.css' %}" rel="stylesheet" type="text/css">
        <title>Bingo</title>
        
    </head>
    <body>
        <div id="container">
            <div class="row">
                <div id="name" class="col">
                    <h1>{{user}}</h1>
                </div>
                <div id="bingo" class="col">
                    <h1 class="display-1 font-weight-normal">BINGO</h1>
                </div>
                <div id="number " class="col">
                    <div class="w-100 text-right">
                        <span >Next Number</span>
                        <span class="p-5">1</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="table">
        <table>
            <tr>
                <td></td><td></td><td></td><td></td><td></td><th>B</th>
            </tr>
            <tr>
                <td></td><td></td><td></td><td></td><td></td><th>I</th>
            </tr>
            <tr>
                <td></td><td></td><td></td><td></td><td></td><th>N</th>
            </tr>
            <tr>
                <td></td><td></td><td></td><td></td><td></td><th>G</th>
            </tr>
            <tr>
                <td></td><td></td><td></td><td></td><td></td><th>O</th>
            </tr>
        </table>

        </div>
        
        <div id="players">
            <table>
                <tr>
                    <td>1</td><td>11</td>
                </tr>
                <tr>
                    <td>11</td><td>1</td>
                </tr>
                <tr>
                    <td>11</td><td>1</td>

                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>1</td><td>1</td>
                </tr>
                <tr>
                    <td>11</td><td>1</td>
                </tr>
            </table>
        </div>
    </body>
        
    
</html>
